<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="react.boot.final_project.dao.AttMapper">

	<!-- 기본사항등록 - 근태 항목 등록 -->
	<select id="regAttList" parameterType="String" resultType="react.boot.final_project.dto.AttItemsDTO">
		SELECT *
		  FROM (SELECT *
		  			 , ROW_NUMBER() OVER (ORDER BY a_code DESC) AS rn
		    	  FROM attendance_tbl
				) AS subquery
		 where a_use = 'Y'
		 ORDER BY rn DESC
	</select>
	
	<!-- 기본사항등록 - 휴가 항목 등록 -->
	<select id="regVacaList" parameterType="String" resultType="react.boot.final_project.dto.VacaItemsDTO">
		SELECT *
		  FROM (SELECT *
		  			 , ROW_NUMBER() OVER (ORDER BY v_code DESC) AS rn
		    	  FROM vacation_tbl
				) AS subquery
		 where v_use = 'Y'
		 ORDER BY rn DESC
	</select>
	
	<!-- 기본사항등록 - 근태 항목 등록; 검색 -->
	<select id="attSearch" parameterType="String" resultType="react.boot.final_project.dto.AttItemsDTO">
		SELECT * FROM attendance_tbl 
		WHERE a_keywords LIKE '%' || '#{a_keywords}' || '%'
		   and a_use = 'Y'
	</select>
	
    <!-- 항목 등록 삭제 -->
    <delete id="deleteAttItems" parameterType="String">
        DELETE FROM attendance_tbl
         WHERE a_code = #{a_code}
    </delete>
    
	<!-- 게시글 등록 -->
    <insert id="insertAtt" parameterType="react.boot.final_project.dto.AttItemsDTO">
		insert into attendance_tbl(a_code,a_name,a_type,a_note)
        values(#{a_code},#{a_name},#{a_type},#{a_note})
	</insert>
	<!--   
	게시글 수정
	<update id="updateBoard" parameterType="com.boot.reactMapper.dto.BoardDTO">
		UPDATE mvc_board_tbl
		   SET b_title = #{b_title}
		     , b_content = #{b_content}
		     , b_writer = #{b_writer}
		     , b_password = #{b_password}
		 WHERE b_num = #{b_num}
	</update>
	
	1건 select
	<select id="findByNum" parameterType="int" resultType="com.boot.reactMapper.dto.BoardDTO">
		SELECT * FROM mvc_board_tbl
		 WHERE b_num = #{b_num}
	</select>
	
	삭제 처리
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM mvc_board_tbl
		 WHERE b_num = #{b_num}
	</delete> -->

</mapper>
